{{ define "main" }}
  {{ partial "page-header" . }}

 <section style="padding-top:7em">
   <div class="container">
     <div class="row justify-center">
       <div class="lg:col-10 md:col-9 mb-8 text-lg">
         <p class="h5">
           {{ .Content | markdownify }}
         </p>
       </div>
     </div>
   </div>
 </section>

  <section class="section">
    <div class="container">
      <div class="row">
        {{ range .RegularPages }}
          <div class="md:col-6 lg:col-4 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
