// Add your own custom styles here
.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-card-container {
  position: relative;
  height: 100%;
  padding-bottom: 100px;
}

.author-card-container .social-icons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
}

.project-card-title {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  line-height: 48px;
}
